<%- include("header-generico"); -%>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a546b;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active btn" aria-current="page" href="http://localhost:3000/home">Home</a>
          </li>
          <li>
            <a class="nav-link active btn" href="/pasajes">Pasajes</a>
          </li>          
          <li>
            <a class="nav-link active btn" href="/perfil">Mi perfil</a>
          </li>
        </ul>
        <form action="/cerrarSesion" method="GET">
          <button type="submit">Cerrar sesion</button>
        </form>
      </div>
    </div>
  </nav>