<%- include("partials/header"); -%>
<div class="container">
    <h1>Cargar Chofer</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="number" name="dni" id="dni" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required autocomplete="off">
            <div id="errE"></div>
        </div>
        <div class="form-group">
            <label for="email">Telefono:</label>
            <input type="number" name="telefono" id="telefono" class="form-control" required autocomplete="off">
            <div id="errE"></div>
        </div>
        <div class="form-group">
            <label for="clave">Contraseña</label>
            <input type="password" class="form-control" name="clave" id="clave"
                placeholder="Debe ser mayor de 5 digitos" required>
            <div id="errC1"></div>
            </div>
        <div class="form-group">
            <label for="clave1">Repita la Contraseña</label>
            <input type="password" class="form-control" name="clave1" id="clave1" required>
            <div id="errC2"></div>
        </div>
        <br>
        <div id="err" ></div>
<button id="enviar">Registrar Chofer</button>

</div>
            
<br>
<br>
<br>
<br>

<script src="/js/alta-chofer.js"></script>


<%- include("partials/footer"); -%>