<%- include("partials/header"); -%>
<h2>Alta lugar</h2>
<div>
  <div id="err"></div>
    <label for="ciudad"  required>Ciudad:</label><br>
    <input type="text"class="lugar" name="ciudad" id="ciudad"/><br>
    <label for="provincia" class="lugar" required>Provincia:</label><br>
    <input type="text" name="provincia" id="provincia" />
    <br />
    <button id="guardar" name="button">Cargar</button>

</div>
<script src="/js/alta-lugar.js"></script>
<%- include("partials/footer"); -%>
