<%- include("partials/header"); -%>
<h2>Alta lugar</h2>
<div>
  <form action="/cargar-lugar" method="POST">
    <label for="ciudad" required>Ciudad:</label><br>
    <input type="text" name="ciudad" /><br>
    <label for="provincia" required>Provincia:</label><br>
    <input type="text" name="provincia" />
    <br />
    <button type="submit" name="button">Cargar</button>
  </form>
</div>
<%- include("partials/footer"); -%>
