<%- include("partials/header"); -%>
<h1>bienvenido usted es un admin</h1>
<form action="/cerrarSesion" method="GET">
<button type="submit">Cerrar sesion</button>
</form>
<form action="/alta-chofer" method="GET">
<button type="submit">Alta Chofer</button>
</form>
<form action="/listar-chofer" method="GET">
<button type="submit">Listar Choferes</button>
</form>
<form action="/alta-combi" method="GET">
<button type="submit">Alta Combi</button>
</form>
<form action="/listar-combi" method="GET">
<button type="submit">Listar Combis</button>
</form>
<script src="/js/home-admin.js"></script>
<%- include("partials/footer"); -%>