<%- include("partials/header"); -%>
<h1>bienvenido usted es un admin</h1>
<form action="/cerrarSesion" method="GET">
<button type="submit">Cerrar sesion</button>
</form>
<%- include("partials/footer"); -%>