<%- include("partials/header"); -%>
<h1>Bienvenido Admin</h1>
<form action="/alta-chofer" method="GET">
<button type="submit">Alta Chofer</button>
</form>
<form action="/alta-combi" method="GET">
<button type="submit">Alta Combi</button>
</form>
<script src="/js/home-admin.js"></script>
<%- include("partials/footer"); -%>